@font-face { http://www.miltonbayer.com/font-face/ }
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	/*background-color: #ff0089;*/
	/*font-size: 16px; 1em = 16px*/
	/*position: relative;*/
	color:#333;
	line-height:1.3;
}

header img {
	float:left;
	width:100px;
}

nav {
	float:right;
}

nav a {
		color: #fda486;
		padding: 1em 2em;
		text-decoration: none;
		display: inline-block;
}



section{
	padding:50px 0;
}

footer{
	font-family: montserrat;
	src: url('desktop:/jaynelimited.github.io/unit_4/font/montserrat');
	background-size: cover;
	text-align: center;
	font-size: 40px;
	background: #0f4dbc;
	color: #fda486;;
	height: 140px;
	padding:70px 0;
	clear: both;
}
h1 {
    width: 600px;
    margin: auto;
}

h3, h4 {
	font-family: 'montserrat', 'Arial', sans-serif;
}

h3 {
	font-size:70px;
	text-align:left;
	padding: 20px;
	margin: 10px;
}

h4 {
	font-size:40px;
	text-align:left;
	padding: 20px;
	margin: 10px;
}


img {
	width: 100%;
}

a:hover {
	color: #f1c207;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	font-size: 0;
	visibility: hidden;
	height: 0;
}
#lander {
	background:#0f4dbc;
	color:#fd9a96;
	padding: 10em 0;
	text-align: center;
	font-size: 2em;
}
