@font-face { 
	font-family: 'Montserrat'; src: url(../'unit_6.1/font/Montserrat'); }
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	/*background-color: #ff0089;*/
	/*font-size: 16px; 1em = 16px*/
	/*position: relative;*/
	color:#333;
	line-height:1.2;
}

header img {
	float:left;
	width: 8.5%;
	padding: 1em 2em;
	margin: 1em;
}

nav {
	float:right;
}

nav a {
		font:'Montserrat';
		font-size: 20px;
		font-weight: 400;
		color: #fda486;
		padding: 1em 2em;
		text-decoration: none;
		display: inline-block;
}



section {
	/*padding:50px 0;*/
}

footer {
	font:'Montserrat';
	/*src: url('../jaynelimited.github.io/unit_6/font/Montserrat');*/
	background-size: cover;
	text-align: center;
	font-size: 20px;
	font-weight: 900;
	background: #0f4dbc;
	color: #fda486;;
	height: 140px;
	padding:70px 0;
	clear: both;
}
h1 {
	font-family: 'Montserrat', 'Times', sans-serif;
	font-weight: 500;
    width: 640px;
    margin: auto;
}

h3, p {
	font-family: 'Montserrat', 'Times', sans-serif;
}

h3 {
	font-size:70px;
	font-weight: 600;
	text-align:left;
	letter-spacing: -2px;
	padding: 0 20px;
	margin: 0 20px;
}

p {
	font: 'Montserrat'
	font-size:40px;
	text-align:left;
	padding: 0 20px;
	margin: 0 20px;
}


img {
	width: 100%;
}

a:hover {
	color: #f1c207;
}

.clearfix:after {
	display: block;
	content: " ";
	clear: both;

	font-size: 0;
	visibility: hidden;
	height: 0;
}


#lander {
	background:#0f4dbc;
	color:#fd9a96;
	padding: 10em 0;
	text-align: center;
	font-size: 2em;
}

#door {
	width:50%;
	float: left;
}

#FN4M {
	width:50%;
	float: left;
}
