* {
	padding: 0;
	margin: 0;
}


body {background: #0f4dbc;
}

h1, p {color: #ffa488;
}

img {
	width: 100%;
}

.door {
	width: 960px;
}

.fn4m {
	width: 960px;
	margin-left: 960px;
	margin-top: -544px;
}

.todmorden {
	width: 960px;
}

.into {
	width: 960px;
	margin-left: 960px;
	margin-top: -544px;
}

.bma {
	width: 960px;
}

.seen {
	width: 960px;
	margin-left: 960px;
	margin-top: -544px;
}