@font-face { 
	font-family: 'Montserrat'; src: url('../font/Montserrat'); }
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	background:#76ffff;
	line-height: 0;
}

header img {
	float:left;
	width: 150px;
	padding: 1.2em 2em;
/*	margin: 1em;*/
}

nav {
	float:right;
}

nav a {
		font-size: 1.25em;
		font-weight: 400;
		color: #fda486;
		padding: 1.2em 2em;
		text-decoration: none;
		display: inline-block;
}

nav, h1, h2, h3, p, footer {
	font-family: 'Montserrat', 'Arial', sans-serif;
	line-height: 1.2em;
}

h1 {
	font-weight: 500;
    width: 38%;
    padding: 0 0 0 0em;
    /*margin: auto;*/
    color: #0f4dbc;
    text-align: center;
    padding: 8em 0em 0em;
    margin: 0em 0em .5em 0em;
}

p {
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	width: 50%;
	color: #fda486;
	padding-top: 1em;
}

footer {
	font: Montserrat;
	background-size: cover;
	text-align: center;
	font-size: 1.25em;
	font-weight: 900;
	background: #0f4dbc;
	color: #fda486;
	height: 5em;
	padding:2.5em 0;
	clear: both;
}



#Who {
	background:#0f4dbc;
	width: 100%;
	height: 800px;
	padding: 10em;
}

#What {
	background:#bfe3da;
	width: 100%;
	height: 800px;
	padding: 4em;
}

#Values {
	background:#0f4dbc;
	width: 100%;
	height: 800px;
	padding: 4em;
}

#Relationships {
	background:#bfe3da;
	width: 100%;
	height: 800px;
	padding: 4em;
}

#whohead {
	color: white;
	line-height: 4em;
}
