* {
	padding: 0;
	margin: 0;
}

nav {
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}

p {
	text-align: center;
	color:#ffa488;
	font-family: montserrat-medium;
	src: url('desktop:/jaynelimited.github.io/unit_4/font/montserrat');
	font-size: 60px;
	background-color: #FFE2B8;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

.one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.rise {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

.two {
	background-color: ;
	border: 1px black solid;
	padding: 20px;
}

.door {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

.fn4m {
	border: 1px black solid;
	padding: 20px;
	background-color: 
}

.three { 
		border: 1px black solid;
		padding: 40px;
		background-color: #E89C6C;
}

.nel{ 
		border: 1px black solid;
		padding: 40px;
		background-color: #E89C6C;
}

.four {background-color: #E89C6C;
		border: 1px black solid;
		padding: 20px;
}

.todmorden {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

.into {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

.bma {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

.seen {border: 1px black solid;
		padding: 20px;
		background-color: #E89C6C;
}

.five {background-color: #FFE2B8;
		border: 1px black solid;
		padding: 20px;
}

.altus {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

.six {background-color: #FFE2B8;
		border: 1px black solid;
		padding: 20px;
}

.waf {
	border: 1px black solid;
	padding: 20px;
	background-color: #E89C6C;
}

footer {
	border: 1px black solid;
	padding: 20px;
	background-color: #FF957E;
}